<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="profile-section">
        <h2 class="profile-header">PROFILE</h2>
        <div class="user-data">
            <div><img src="https://via.placeholder.com/150" alt="avatar"></div>
            <div>name: {{user.name}}</div>
            <div>login: {{user.login}}</div>
            <div>age: {{user.age}}</div>
            <div>eyes: {{user.eyes}}</div>
            <div>music: {{user.music}}</div>
            <div>Cars:
                {{#each user.cars}}
                    <div class="car-item">
                        <div>{{user.car.model}}</div>
                        <div>{{user.car.year}}</div>
                        <div>{{user.car.color}}</div>
                        <div>{{user.car.power}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div>
            <a href="/logout" class="btn" >Log out</a>
            <a href="/deleting" class="btn">Delete account</a>
            <a href="/cars-form" class="btn">Add a new car</a>
        </div>
    </div>
</body>
</html>
